/* Talks Page Styling */
.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align everything to the left */
}

.talk-header {
  width: 100%; /* Ensure it spans the full width of the container */
  margin-bottom: 0px;
}

.talk-header-title {
  font-size: 42px;
  font-weight: normal;
  margin-bottom: 10px;
  text-align: left; /* Align the title to the left */
}

.talk-header-subtitle {
  font-size: 18px;
  color: #666666;
  text-align: left; /* Align the subtitle to the left */
}

.dark-mode.talk-header-subtitle {
  color: #bbbbbb;
}

/* Cards Container */
.cards-container {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping to the next row if screen is too narrow */
  gap: 20px; /* Space between cards */
  justify-content: flex-start; /* Align cards to the left */
  width: 100%;
}

/* Individual Card Styling (Inherited from TalkCard.scss) */
.talk-card {
  width: 380px; /* Card width */
}
